
body {
    height: 100vh;
    margin: 0;
    /*animation: cores 10s infinite alternate;*/
    background-color: #000000;
    background-size: 800% 800%;
}

@keyframes cores {
    0%   { background: #000000; }
    25%  { background: #977575b7; }
    50%  { background: #a19fa4; }
    75%  { background: #6e727a; }
    100% { background: #3c3837; }
}

.calculadora{
    background: rgba(229, 225, 225, 0.525);
    backdrop-filter: blur(20px);
    padding: 50px;
    border-radius: 20px;
    border: solid 2px black;
}

#visor{
    text-align: right;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}

.btn{
    color: rgba(0, 0, 0, 0.789);
}

.operadores{
    color: orangered; 
}

/*

      _                    ____    ____   __        __
     | | ___   __ _  ___  / ___|  |  _ \  \ \      / /
  _  | |/ _ \ / _` |/ _ \ \___ \  | |_) |  \ \ /\ / / 
 | |_| | (_) | (_| | (_) | ___) | |  __/    \ V  V /  
  \___/ \___/ \__,_|\___/ |____/  |_|        \_/\_/   

                    @ j o a o s p w

*/